.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow-y: unset;
}

.myModalContent {
    margin: 2em;
    padding: 1em;
    background: white;
    border-radius: 1em;
    min-width: 90vw;
    max-height: 90vh;
    height: 100%;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


@media all and (max-width: 800px) {
    .myModalContent {
        min-width: 95vw;
        margin: .5em;
        padding: 1em;
        /*height: unset;*/
        max-height: unset;
        overflow-y: scroll;
    }

}