.paginator {
  display: flex;
  flex-direction: row;
  margin: .5em;

  .paginator__button {
    padding: .2em;
    margin-right: .2em;
    border-radius: .5em;
    font-size: 1em;
    border: .1em solid gray;
    cursor: pointer;
    &:hover{
      background-color: #95A5A6;
    }
    &:active{
      background-color: #708d70;
    }
  }

  .paginator__button_current {
    background-color: #598e96;
    font-weight: bold;
  }
}

@media all and (max-width: 800px) {

  .paginator{
    position: absolute;
    bottom: 1em;

    width: 100%;

  }

}